.overlay {
  position: absolute;
  inset: 0;
  background: #0005;
  z-index: 3;
}

.form {
  background: var(--primary);
  box-shadow: 0 0 5px #000;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  padding: 2rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}

.form input {
  width: 15rem;
  margin-top: 0.5rem;
}
